html,
body {
    margin: 0; padding: 0;
}

body {
    font: normal 16px/24px 'Helvetica Neue', Helvetica, Arial, freesans, sans-serif; color: #000;
}

#playground {
    margin: 20px;
}

.player {
    border: 2px solid #ccc; margin: 10px; padding: 10px; min-height: 24px;
}

.player.active {
    background: #CDFECE; border-color: #00AA00;
}

.player.event-mousedown::after {
    content: 'mousedown';
}

.player.event-mouseup::after {
    content: 'mouseup';
}

.player.event-click::after {
    content: 'click';
}

.player.event-dblclick::after {
    content: 'dblclick';
}
